body, html
{
	background-color: #EDEDED !important;
}

.dark-primary-color    { background: #689F38; }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
	margin-bottom: 50px;
}

.intro h1
{
	font-weight: 900;
	text-transform: uppercase;
}

.intro h5
{
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}


.about .col
{
	margin-bottom: 24px;
}

.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.about hr
{
	width: 40px;
	margin-bottom: 45px;
}

.about .card
{
	text-align: center;
}

.about .card img
{
	margin-bottom: 15px;
}

.portfolio .col
{
	margin-bottom: 24px;
}

.portfolio h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.portfolio h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.portfolio hr
{
	width: 40px;
	margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
	clear: both;
	text-align: center;
}

.portfolio img
{
	width: 33%;
	display: inline-block;
	float: left;
}

.contact .col
{
	margin-bottom: 24px;
}

.contact h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.contact hr
{
	width: 40px;
	margin-bottom: 45px;
}

.contact .contact-holder
{
	padding-left: 40px;
	text-align: left;
}

.contact .contact-holder h6
{
	margin-bottom: 15px;
	text-align: left;
}

.contact .contact-holder p
{
	margin-bottom: 30px;
}
footer
{
	padding-top: 0px;
}

header {
  width: 100%;
  text-align: center;
  padding: 2em;
}

header img {
  max-height: 160px;
  border-radius: 50%;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}