[submodule "mysqli.vb"]
	path = src/runtime/mysqli
	url = https://github.com/xieguigang/mysqli.vb.git
	branch = master
[submodule "src/R-sharp"]
	path = src/R-sharp
	url = https://github.com/SMRUCC/R-sharp.git
[submodule "src/runtime/Darwinism"]
	path = src/runtime/Darwinism
	url = https://github.com/xieguigang/Darwinism.git
[submodule "src/runtime/IronR"]
	path = src/runtime/IronR
	url = https://github.com/xieguigang/IronR.git
[submodule "src/runtime/ggplot"]
	path = src/runtime/ggplot
	url = https://github.com/rsharp-lang/ggplot.git
