[submodule "src/R-sharp"]
	path = src/R-sharp
	url = https://github.com/SMRUCC/R-sharp.git
[submodule "src/runtime/Darwinism"]
	path = src/runtime/Darwinism
	url = https://github.com/xieguigang/Darwinism.git
[submodule "src/runtime/ggplot"]
	path = src/runtime/ggplot
	url = https://github.com/rsharp-lang/ggplot.git
[submodule "src/runtime/Rnotebook"]
	path = src/runtime/R/Rnotebook
	url = https://github.com/rsharp-lang/Rnb.git
[submodule "src/workbench/markdown2pdf"]
	path = src/workbench/markdown2pdf
	url = https://github.com/xieguigang/markdown2pdf.git
[submodule "src/workbench/win32_desktop"]
	path = src/workbench/win32_desktop
	url = https://github.com/SMRUCC/GCModeller-workbench.git
[submodule "src/runtime/enigma"]
	path = src/runtime/enigma
	url = https://github.com/rsharp-lang/enigma.git
