[submodule "mysqli.vb"]
	path = src/runtime/mysqli
	url = https://github.com/xieguigang/mysqli.vb.git
	branch = master
[submodule "src/R-sharp"]
	path = src/R-sharp
	url = https://github.com/SMRUCC/R-sharp.git
