<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GCModeller Workbench</title>
<script src="./common.js"></script>
</head>

<body>
    <h1>Hello World!</h1>
    We are using node
    <script>document.write(process.versions.node)</script>,
    Chrome
    <script>document.write(process.versions.chrome)</script>,
    and Electron
    <script>document.write(process.versions.electron)</script>.

    <a href="javascript:void(0);" id="open_motif" onclick="openView('./views/motifLogo.html');" >Motif Logo Viewer</a>
</body>

</html>