<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Insert this line above script imports  -->
    <script type="text/javascript">
        if (typeof module === 'object') {
            window.module = module; module = undefined;
        }
    </script>

    <script type="text/javascript" src="../vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/common.js"></script>
    <script type="text/javascript" src="../vendor/linq.js"></script>
    <script type="text/javascript" src="../vendor/json/jquery.jsonview.min.js"></script>
    <script type="text/javascript" src="../lib/inspector.js"></script>

    <link rel="stylesheet" href="../vendor/bootstrap_v3/css/bootstrap.min.css">
    <link href="../vendor/json/jquery.jsonview.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class='container' id='data'>

    </div>
    
    <script type='text/javascript'>
        $ts(function () {
            inspect_api("#data");
        });
    </script>

</body>
<script type="text/javascript" src="../vendor/bootstrap_v3/js/bootstrap.min.js"></script>
<!-- jQuery的js引用必须要先于fancybox定义，否则会出现找不到jquery的错误 -->
<script type="text/javascript" src="../vendor/fancybox_v3/dist/jquery.fancybox.min.js"></script>

<script type="text/javascript">
    $ts(function () {
        // Customize buttons
        $('[data-fancybox]').fancybox({
            buttons: ['close']
        });
    });
</script>

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>
<!-- Insert this line after script imports -->
<script type="text/javascript">if (window.module) module = window.module;</script>

<html>