<!doctype html>
<html lang="en">
<head>

<!-- https://github.com/hussainabidbest/chrome-welcome-page -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"> -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <title>Document</title>
</head>
<body>

<div class="showMe">
    <img src="../assets/img/circle.png" alt="" class="circle">
</div>
<img src="../assets/img/dots.png" alt="" class="dots showMe">
<div class="showMe">
    <img src="../assets/img/triangle.png" alt="" class="triangle">
</div>
<img src="../assets/img/half_cricle.png" alt="" class="half-circle showMe2">
<img src="../assets/img/square.png" alt="" class="square showMe2">
<div class="text-box">
    <p class="intro">This is Welcome Page of the website</p>
    <h1 class="heading">Welcome to the Future</h1>
    <button class="button">Get Started</button>
    <a class="link" href="#">Signup for the Newsletter</a>

</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>-->
<script>

    // const box = document.querySelector('.circle')
    // const tl = new TimelineMax({ repeat: -1})
    // tl.set(box, {x: 180,y:100})
    // tl.to(box,3, {ease: Power2.easeInOut,x: 220,y:120,yoyo: true, repeat: 1})


    // tl.to(box,3, {ease: Power2.easeInOut,x: 100,y:100})
    // tl.to(box, 3,{ease: Power2.easeInOut,x: 0,rotation:180})

</script>
</body>
</html>