div.oembedall-githubrepos {
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 4px;
    font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
    list-style-type: none;
    margin: 0 0 10px;
    padding: 8px 10px 0;
    width: 452px;
}

    div.oembedall-githubrepos .oembedall-body {
        background: -moz-linear-gradient(center top,#FAFAFA,#EFEFEF);
        background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EFEFEF));
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: 1px solid #EEE;
        margin-left: -10px;
        margin-top: 8px;
        padding: 5px 10px;
        width: 100%;
    }

    div.oembedall-githubrepos h3 {
        font-size: 14px;
        margin: 0;
        padding-left: 18px;
        white-space: nowrap;
    }

    div.oembedall-githubrepos p.oembedall-description {
        color: #444;
        font-size: 12px;
        margin: 0 0 3px;
    }

    div.oembedall-githubrepos p.oembedall-updated-at {
        color: #888;
        font-size: 11px;
        margin: 0;
    }

    div.oembedall-githubrepos ul.oembedall-repo-stats {
        border: none;
        float: right;
        font-size: 11px;
        font-weight: 700;
        margin: 0;
        padding-left: 15px;
        position: relative;
        z-index: 5;
    }

        div.oembedall-githubrepos ul.oembedall-repo-stats li {
            border: none;
            color: #666;
            display: inline-block;
            list-style-type: none;
            margin: 0 !important;
        }

            div.oembedall-githubrepos ul.oembedall-repo-stats li a {
                background-color: transparent;
                background-position: 5px -2px;
                background-repeat: no-repeat;
                border: none;
                border-left: 1px solid #DDD;
                color: #666 !important;
                display: inline-block;
                height: 21px;
                line-height: 21px;
                padding: 0 5px 0 23px;
            }

            div.oembedall-githubrepos ul.oembedall-repo-stats li:first-child a {
                border-left: medium none;
                margin-right: -3px;
            }

            div.oembedall-githubrepos ul.oembedall-repo-stats li a:hover {
                background: 5px -27px no-repeat #4183C4;
                color: #FFF !important;
                text-decoration: none;
            }

            div.oembedall-githubrepos ul.oembedall-repo-stats li:first-child a:hover {
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
            }

ul.oembedall-repo-stats li:last-child a:hover {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

span.oembedall-closehide {
    background-color: #aaa;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 3px;
}

div.oembedall-container {
    margin-top: 5px;
    text-align: left;
}

.oembedall-ljuser {
    font-weight: 700;
}

    .oembedall-ljuser img {
        border: 0;
        padding-right: 1px;
        vertical-align: bottom;
    }

.oembedall-stoqembed {
    background: #FFF;
    border-bottom: 1px dotted #999;
    color: #000;
    float: left;
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 80%;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 730px;
}

    .oembedall-stoqembed a {
        color: #07C;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

        .oembedall-stoqembed a:hover {
            text-decoration: underline;
        }

        .oembedall-stoqembed a:visited {
            color: #4A6B82;
        }

    .oembedall-stoqembed h3 {
        font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
        font-size: 130%;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .oembedall-stoqembed .oembedall-reputation-score {
        color: #444;
        font-size: 120%;
        font-weight: 700;
        margin-right: 2px;
    }

    .oembedall-stoqembed .oembedall-user-info {
        height: 35px;
        width: 185px;
    }

        .oembedall-stoqembed .oembedall-user-info .oembedall-user-gravatar32 {
            float: left;
            height: 32px;
            width: 32px;
        }

        .oembedall-stoqembed .oembedall-user-info .oembedall-user-details {
            float: left;
            margin-left: 5px;
            overflow: hidden;
            white-space: nowrap;
            width: 145px;
        }

    .oembedall-stoqembed .oembedall-question-hyperlink {
        font-weight: 700;
    }

    .oembedall-stoqembed .oembedall-stats {
        background: #EEE;
        margin: 0 0 0 7px;
        padding: 4px 7px 6px;
        width: 58px;
    }

    .oembedall-stoqembed .oembedall-statscontainer {
        float: left;
        margin-right: 8px;
        width: 86px;
    }

    .oembedall-stoqembed .oembedall-votes {
        color: #555;
        padding: 0 0 7px;
        text-align: center;
    }

    .oembedall-stoqembed .oembedall-vote-count-post {
        color: #808185;
        display: block;
        font-size: 240%;
        font-weight: 700;
    }

    .oembedall-stoqembed .oembedall-views {
        color: #999;
        padding-top: 4px;
        text-align: center;
    }

    .oembedall-stoqembed .oembedall-status {
        background: #75845C;
        color: #FFF;
        margin-top: -3px;
        padding: 4px 0;
        text-align: center;
    }

        .oembedall-stoqembed .oembedall-status strong {
            color: #FFF;
            display: block;
            font-size: 140%;
        }

    .oembedall-stoqembed .oembedall-summary {
        float: left;
        width: 635px;
    }

    .oembedall-stoqembed .oembedall-excerpt {
        line-height: 1.2;
        margin: 0;
        padding: 0 0 5px;
    }

    .oembedall-stoqembed .oembedall-tags {
        float: left;
        line-height: 18px;
    }

        .oembedall-stoqembed .oembedall-tags a:hover {
            text-decoration: none;
        }

    .oembedall-stoqembed .oembedall-post-tag {
        background-color: #E0EAF1;
        border-bottom: 1px solid #3E6D8E;
        border-right: 1px solid #7F9FB6;
        color: #3E6D8E;
        font-size: 90%;
        line-height: 2.4;
        margin: 2px 2px 2px 0;
        padding: 3px 4px;
        text-decoration: none;
        white-space: nowrap;
    }

        .oembedall-stoqembed .oembedall-post-tag:hover {
            background-color: #3E6D8E;
            border-bottom: 1px solid #37607D;
            border-right: 1px solid #37607D;
            color: #E0EAF1;
        }

    .oembedall-stoqembed .oembedall-fr {
        float: right;
    }

    .oembedall-stoqembed .oembedall-statsarrow {
        background-image: url(http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=3);
        background-position: 0 -435px;
        background-repeat: no-repeat;
        float: right;
        height: 13px;
        margin-top: 12px;
        overflow: hidden;
        width: 7px;
    }

.oembedall-facebook1 {
    border: 1px solid #1A3C6C;
    font: 13.34px/1.4 verdana;
    padding: 0;
    width: 500px;
}

.oembedall-facebook2 {
    background-color: #627add;
}

    .oembedall-facebook2 a {
        color: #e8e8e8;
        text-decoration: none;
    }

.oembedall-facebookBody {
    background-color: #fff;
    padding: 5px;
    vertical-align: top;
}

    .oembedall-facebookBody .contents {
        display: inline-block;
        width: 100%;
    }

    .oembedall-facebookBody div img {
        float: left;
        margin-right: 5px;
    }

div.oembedall-lanyard {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    border-width: 0;
    box-shadow: none;
    color: #112644;
    display: block;
    float: left;
    font-family: 'Trebuchet MS',Trebuchet,sans-serif;
    font-size: 16px;
    height: 253px;
    line-height: 19px;
    margin: 0;
    max-width: none;
    min-height: 0;
    outline: #112644 0;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    webkit-box-shadow: none;
    webkit-transition-delay: 0s;
    webkit-transition-duration: .4000000059604645s;
    webkit-transition-property: width;
    webkit-transition-timing-function: cubic-bezier(0.42,0,.58,1);
    width: 804px;
}

    div.oembedall-lanyard .tagline {
        font-size: 1.5em;
    }

    div.oembedall-lanyard .wrapper {
        clear: both;
        overflow: hidden;
    }

    div.oembedall-lanyard .split {
        display: inline;
        float: left;
    }

    div.oembedall-lanyard .prominent-place .flag:active, div.oembedall-lanyard .prominent-place .flag:focus, div.oembedall-lanyard .prominent-place .flag:hover, div.oembedall-lanyard .prominent-place .flag:link, div.oembedall-lanyard .prominent-place .flag:visited {
        display: block;
        float: left;
        height: 48px;
        margin-right: 10px;
        position: relative;
        top: -5px;
        width: 48px;
    }

    div.oembedall-lanyard .place-context {
        font-size: .889em;
    }

    div.oembedall-lanyard .prominent-place .sub-place {
        display: block;
    }

    div.oembedall-lanyard .prominent-place {
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.1em;
    }

    div.oembedall-lanyard .main-date {
        color: #8CB4E0;
        font-weight: 700;
        line-height: 1.1;
    }

    div.oembedall-lanyard .first {
        margin: 0 0 0 2.857%;
        width: 48.57%;
    }

.mermaid .label {
    color: #333;
}

.node circle, .node polygon, .node rect {
    fill: #cde498;
    stroke: #13540c;
    stroke-width: 1px;
}

.edgePath .path {
    stroke: green;
    stroke-width: 1.5px;
}

.cluster rect {
    fill: #cdffb2;
    rx: 40;
    stroke: #6eaa49;
    stroke-width: 1px;
}

.cluster text {
    fill: #333;
}

.actor {
    fill: #cde498;
    stroke: #13540c;
}

text.actor {
    fill: #000;
    stroke: none;
}

.actor-line {
    stroke: grey;
}

.messageLine0 {
    marker-end: "url(#arrowhead)";
    stroke: #333;
    stroke-dasharray: "2 2";
    stroke-width: 1.5;
}

.messageLine1 {
    stroke: #333;
    stroke-dasharray: "2 2";
    stroke-width: 1.5;
}

#arrowhead {
    fill: #333;
}

#crosshead path {
    fill: #333 !important;
    stroke: #333 !important;
}

.messageText {
    fill: #333;
    stroke: none;
}

.labelBox {
    fill: #cde498;
    stroke: #326932;
}

.labelText, .loopText {
    fill: #000;
    stroke: none;
}

.loopLine {
    marker-end: "url(#arrowhead)";
    stroke: #326932;
    stroke-dasharray: "2 2";
    stroke-width: 2;
}

.note {
    fill: #fff5ad;
    stroke: #6eaa49;
}

.noteText {
    fill: #000;
    font-family: 'trebuchet ms',verdana,arial;
    font-size: 14px;
    stroke: none;
}

.section {
    opacity: .2;
    stroke: none;
}

.section0, .section2 {
    fill: #6eaa49;
}

.section1, .section3 {
    fill: #fff;
    opacity: .2;
}

.sectionTitle0, .sectionTitle1, .sectionTitle2, .sectionTitle3 {
    fill: #333;
}

.sectionTitle {
    font-size: 11px;
    text-anchor: start;
    text-height: 14px;
}

.grid .tick {
    opacity: .3;
    shape-rendering: crispEdges;
    stroke: lightgrey;
}

.grid path {
    stroke-width: 0;
}

.today {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

.task {
    stroke-width: 2;
}

.taskText {
    font-size: 11px;
    text-anchor: middle;
}

.taskTextOutsideRight {
    fill: #000;
    font-size: 11px;
    text-anchor: start;
}

.taskTextOutsideLeft {
    fill: #000;
    font-size: 11px;
    text-anchor: end;
}

.taskText0, .taskText1, .taskText2, .taskText3 {
    fill: #fff;
}

.task0, .task1, .task2, .task3 {
    fill: #487e3a;
    stroke: #13540c;
}

.taskTextOutside0, .taskTextOutside1, .taskTextOutside2, .taskTextOutside3 {
    fill: #000;
}

.active0, .active1, .active2, .active3 {
    fill: #cde498;
    stroke: #13540c;
}

.activeText0, .activeText1, .activeText2, .activeText3 {
    fill: #000 !important;
}

.done0, .done1, .done2, .done3 {
    fill: lightgrey;
    stroke: grey;
    stroke-width: 2;
}

.doneText0, .doneText1, .doneText2, .doneText3 {
    fill: #000 !important;
}

.crit0, .crit1, .crit2, .crit3 {
    fill: red;
    stroke: #f88;
    stroke-width: 2;
}

.activeCrit0, .activeCrit1, .activeCrit2, .activeCrit3 {
    fill: #cde498;
    stroke: #f88;
    stroke-width: 2;
}

.doneCrit0, .doneCrit1, .doneCrit2, .doneCrit3 {
    cursor: pointer;
    fill: lightgrey;
    shape-rendering: crispEdges;
    stroke: #f88;
    stroke-width: 2;
}

.activeCritText0, .activeCritText1, .activeCritText2, .activeCritText3, .doneCritText0, .doneCritText1, .doneCritText2, .doneCritText3 {
    fill: #000 !important;
}

.titleText {
    fill: #000;
    font-size: 18px;
    text-anchor: middle;
}

text {
    font-family: 'trebuchet ms',verdana,arial;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: "Lucida Grande","Segoe UI","Apple SD Gothic Neo","Malgun Gothic","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
    font-size: .9em;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 20px 26px !important;
}

br, h1, h2, h3, h4, h5, h6 {
    clear: both;
}

hr.page {
    background: url(data:image/png; border: 0;
    height: 3px;
    padding: 0;
}

hr.underscore {
    border-top-style: dashed !important;
}

body > :first-child {
    margin-top: 0 !important;
}

img.plugin {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

iframe {
    border: 0;
}

figure {
    webkit-margin-after: 0;
    webkit-margin-before: 0;
    webkit-margin-end: 0;
    webkit-margin-start: 0;
}

kbd {
    background-color: #f9f9f9;
    background-image: linear-gradient(top,#eee,#f9f9f9,#eee);
    background-image: -moz-linear-gradient(top,#eee,#f9f9f9,#eee);
    background-image: -o-linear-gradient(top,#eee,#f9f9f9,#eee);
    background-image: -webkit-linear-gradient(top,#eee,#f9f9f9,#eee);
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #ddd;
    font-family: inherit;
    font-size: .85em;
    moz-border-radius: 2px;
    moz-box-shadow: 1px 2px 2px #ddd;
    padding: 1px 3px;
    webkit-border-radius: 2px;
    webkit-box-shadow: 1px 2px 2px #ddd;
}

.oembeded .oembed_photo {
    display: inline-block;
}

img[data-echo] {
    background: url(../img/ajax.gif) center center no-repeat #fff;
    height: 100px;
    margin: 25px 0;
    width: 100px;
}

.spinner {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 100%;
    border-top-color: transparent;
    display: inline-block;
    height: 10px;
    margin-bottom: -.1em;
    webkit-animation: spin 1s infinite linear;
    width: 10px;
}

    .spinner:after {
        border: 4px solid transparent;
        border-bottom-color: rgba(0,0,0,.5);
        content: '';
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        top: -6px;
        transform: rotate(45deg);
        webkit-transform: rotate(45deg);
        width: 0;
    }

@-webkit-keyframes spin {
    to {
        webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

p.toc {
    margin: 0 !important;
}

    p.toc ul {
        padding-left: 10px;
    }

    p.toc > ul {
        border: 1px solid #ededed;
        border-radius: 5px;
        display: inline-block;
        margin: 0 10px;
        padding: 10px;
    }

    p.toc li, p.toc ul {
        list-style-type: none;
    }

    p.toc li {
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

        p.toc li a::after {
            content: ".";
        }

        p.toc li a:before {
            content: "?";
        }

    p.toc h5 {
        text-transform: uppercase;
    }

    p.toc .title {
        float: left;
        padding-right: 3px;
    }

    p.toc .number {
        background: #fff;
        display: none;
        float: right;
        margin: 0;
        padding-left: 3px;
    }

input.task-list-item {
    margin-left: -1.62em;
}

.markdown {
    font-family: "Hiragino Sans GB","Microsoft YaHei",STHeiti,SimSun,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",'Segoe UI',AppleSDGothicNeo-Medium,'Malgun Gothic',Verdana,Tahoma,sans-serif;
    padding: 20px;
}

    .markdown a {
        text-decoration: none;
        vertical-align: baseline;
    }

        .markdown a:hover {
            text-decoration: underline;
        }

    .markdown h1 {
        font-size: 2.2em;
        font-weight: 700;
        margin: 1.5em 0 1em;
    }

    .markdown h2 {
        font-size: 1.8em;
        font-weight: 700;
        margin: 1.275em 0 .85em;
    }

    .markdown h3 {
        font-size: 1.6em;
        font-weight: 700;
        margin: 1.125em 0 .75em;
    }

    .markdown h4 {
        font-size: 1.4em;
        font-weight: 700;
        margin: .99em 0 .66em;
    }

    .markdown h5 {
        font-size: 1.2em;
        font-weight: 700;
        margin: .855em 0 .57em;
    }

    .markdown h6 {
        font-size: 1em;
        font-weight: 700;
        margin: .75em 0 .5em;
    }

        .markdown h1 + p, .markdown h1:first-child, .markdown h2 + p, .markdown h2:first-child, .markdown h3 + p, .markdown h3:first-child, .markdown h4 + p, .markdown h4:first-child, .markdown h5 + p, .markdown h5:first-child, .markdown h6 + p, .markdown h6:first-child {
            margin-top: 0;
        }

    .markdown hr {
        border: 1px solid #ccc;
    }

    .markdown p {
        margin: 1em 0;
        word-wrap: break-word;
    }

    .markdown ol {
        list-style-type: decimal;
    }

    .markdown li {
        display: list-item;
        line-height: 1.4em;
    }

    .markdown blockquote {
        margin: 1em 20px;
    }

        .markdown blockquote > :first-child {
            margin-top: 0;
        }

        .markdown blockquote > :last-child {
            margin-bottom: 0;
        }

        .markdown blockquote cite:before {
            content: '\2014 \00A0';
        }

    .markdown .code {
        border-radius: 3px;
        word-wrap: break-word;
    }

    .markdown pre {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: auto;
        padding: .5em;
        word-wrap: break-word;
    }

        .markdown pre code {
            border: 0;
            display: block;
        }

        .markdown pre > code {
            font-family: Consolas,Inconsolata,Courier,monospace;
            font-weight: 700;
            margin: 0;
            white-space: pre;
        }

    .markdown code {
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 2px;
        padding: 0 5px;
        word-wrap: break-word;
    }

    .markdown img {
        max-width: 100%;
    }

    .markdown mark {
        background-color: #fcf8e3;
        color: #000;
    }

    .markdown table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 16px;
        padding: 0;
    }

        .markdown table tr td, .markdown table tr th {
            border: 1px solid #ccc;
            margin: 0;
            padding: 6px 13px;
        }

        .markdown table tr th {
            font-weight: 700;
        }

            .markdown table tr th > :first-child {
                margin-top: 0;
            }

            .markdown table tr th > :last-child {
                margin-bottom: 0;
            }

        .markdown table tr td > :first-child {
            margin-top: 0;
        }

        .markdown table tr td > :last-child {
            margin-bottom: 0;
        }

.haroopad {
    background: #fff;
    color: #222;
    font-family: "Roboto Condensed",Tauri,"Hiragino Sans GB","Microsoft YaHei",STHeiti,SimSun,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",'Segoe UI',AppleSDGothicNeo-Medium,'Malgun Gothic',Verdana,Tahoma,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    padding: 20px;
    webkit-font-smoothing: antialiased;
}

    .haroopad a {
        color: #3269a0;
    }

        .haroopad a:hover {
            color: #4183c4;
        }

    .haroopad h2 {
        border-bottom: 1px solid #e6e6e6;
    }

    .haroopad h6 {
        color: #777;
    }

    .haroopad hr {
        border: 1px solid #e6e6e6;
    }

    .haroopad blockquote > code, .haroopad h1 > code, .haroopad h2 > code, .haroopad h3 > code, .haroopad h4 > code, .haroopad h5 > code, .haroopad h6 > code, .haroopad li > code, .haroopad p > code, .haroopad td > code {
        background-color: rgba(0,0,0,.02);
        border: 1px solid #efefef;
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
        font-size: 85%;
        padding: .2em .5em;
    }

    .haroopad pre > code {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -1px;
    }

    .haroopad blockquote {
        border-left: 4px solid #e6e6e6;
        color: #777;
        padding: 0 15px;
    }

    .haroopad table {
        background-color: #fafafa;
    }

        .haroopad table tr td, .haroopad table tr th {
            border: 1px solid #e6e6e6;
        }

        .haroopad table tr:nth-child(2n) {
            background-color: #f2f2f2;
        }

.hljs {
    background: #fdf6e3;
    color: #657b83;
    display: block;
    overflow-x: auto;
    padding: .5em;
    webkit-text-size-adjust: none;
}

.diff .hljs-header, .hljs-comment, .hljs-doctype, .hljs-javadoc, .hljs-pi, .lisp .hljs-string {
    color: #93a1a1;
}

.css .hljs-tag, .hljs-addition, .hljs-keyword, .hljs-request, .hljs-status, .hljs-winutils, .method, .nginx .hljs-title {
    color: #859900;
}

.hljs-command, .hljs-dartdoc, .hljs-hexcolor, .hljs-link_url, .hljs-number, .hljs-phpdoc, .hljs-regexp, .hljs-rules .hljs-value, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula {
    color: #2aa198;
}

.css .hljs-function, .hljs-built_in, .hljs-chunk, .hljs-decorator, .hljs-id, .hljs-identifier, .hljs-localvars, .hljs-title, .vhdl .hljs-literal {
    color: #268bd2;
}

.hljs-attribute, .hljs-class .hljs-title, .hljs-constant, .hljs-link_reference, .hljs-parent, .hljs-type, .hljs-variable, .lisp .hljs-body, .smalltalk .hljs-number {
    color: #b58900;
}

.css .hljs-pseudo, .diff .hljs-change, .hljs-attr_selector, .hljs-cdata, .hljs-header, .hljs-pragma, .hljs-preprocessor, .hljs-preprocessor .hljs-keyword, .hljs-shebang, .hljs-special, .hljs-subst, .hljs-symbol, .hljs-symbol .hljs-string {
    color: #cb4b16;
}

.hljs-deletion, .hljs-important {
    color: #dc322f;
}

.hljs-link_label {
    color: #6c71c4;
}

.tex .hljs-formula {
    background: #eee8d5;
}

.MathJax_Hover_Frame {
    border: 1px solid #A6D !important;
    border-radius: .25em;
    box-shadow: 0 0 15px #83A;
    display: inline-block;
    khtml-border-radius: .25em;
    khtml-box-shadow: 0 0 15px #83A;
    moz-border-radius: .25em;
    moz-box-shadow: 0 0 15px #83A;
    position: absolute;
    webkit-border-radius: .25em;
    webkit-box-shadow: 0 0 15px #83A;
}

.MathJax_Hover_Arrow {
    cursor: pointer;
    height: 11px;
    position: absolute;
    width: 15px;
}

#MathJax_About {
    background-color: #DDD;
    border: 3px outset;
    border-radius: 15px;
    box-shadow: 0 10px 20px gray;
    color: #000;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
    float: none;
    font-family: message-box;
    font-size: 120%;
    font-style: normal;
    khtml-border-radius: 15px;
    khtml-box-shadow: 0 10px 20px gray;
    left: 50%;
    letter-spacing: normal;
    line-height: normal;
    moz-border-radius: 15px;
    moz-box-shadow: 0 10px 20px gray;
    padding: 1em 2em;
    position: fixed;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    webkit-border-radius: 15px;
    webkit-box-shadow: 0 10px 20px gray;
    white-space: nowrap;
    width: auto;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 201;
}

.MathJax_Menu {
    background-color: #fff;
    border: 1px solid #CCC;
    box-shadow: 0 10px 20px gray;
    color: #000;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
    float: none;
    font: menu;
    khtml-box-shadow: 0 10px 20px gray;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    moz-box-shadow: 0 10px 20px gray;
    padding: 2px;
    position: absolute;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    webkit-box-shadow: 0 10px 20px gray;
    white-space: nowrap;
    width: auto;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 201;
}

.MathJax_MenuItem {
    background: 0 0;
    padding: 2px 2em;
}

.MathJax_MenuArrow {
    color: #666;
    position: absolute;
    right: .5em;
}

.MathJax_MenuActive .MathJax_MenuArrow {
    color: #fff;
}

.MathJax_MenuArrow.RTL {
    left: .5em;
    right: auto;
}

.MathJax_MenuCheck {
    left: .7em;
    position: absolute;
}

    .MathJax_MenuCheck.RTL {
        left: auto;
        right: .7em;
    }

.MathJax_MenuRadioCheck {
    left: 1em;
    position: absolute;
}

    .MathJax_MenuRadioCheck.RTL {
        left: auto;
        right: 1em;
    }

.MathJax_MenuLabel {
    font-style: italic;
    padding: 2px 2em 4px 1.33em;
}

.MathJax_MenuRule {
    border-top: 1px solid #CCC;
    margin: 4px 1px 0;
}

.MathJax_MenuDisabled {
    color: GrayText;
}

.MathJax_MenuActive {
    background-color: Highlight;
    color: HighlightText;
}

.MathJax_Menu_Close {
    height: 31px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 31px;
}

#MathJax_Zoom {
    background-color: #F0F0F0;
    border: 1px solid #000;
    box-shadow: 5px 5px 15px #AAA;
    display: block;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
    float: none;
    font-style: normal;
    font-weight: 400;
    khtml-box-shadow: 5px 5px 15px #AAA;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    moz-box-shadow: 5px 5px 15px #AAA;
    overflow: auto;
    padding: .5em;
    position: absolute;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    webkit-box-shadow: 5px 5px 15px #AAA;
    white-space: nowrap;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 301;
}

#MathJax_ZoomOverlay {
    background-color: #fff;
    border: 0;
    display: inline-block;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300;
}

#MathJax_ZoomFrame {
    display: inline-block;
    height: 0;
    position: relative;
    width: 0;
}

#MathJax_ZoomEventTrap {
    background-color: #fff;
    border: 0;
    display: inline-block;
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 302;
}

.MathJax_Preview {
    color: #888;
}

#MathJax_Message {
    background-color: #E6E6E6;
    border: 1px solid #959595;
    bottom: 2px;
    color: #000;
    font-size: 80%;
    left: 1px;
    margin: 0;
    padding: 2px 8px;
    position: fixed;
    white-space: nowrap;
    width: auto;
    z-index: 102;
}

#MathJax_MSIE_Frame {
    border: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 101;
}

.MathJax_Error {
    color: #C00;
    font-style: italic;
}

footer {
    bottom: 0;
    font-size: .8em;
    height: 20px;
    margin-left: -25px;
    position: fixed;
    text-align: right;
    width: 100%;
}
