[submodule "TsBuild/runtime/vs_solutions/dev-kit"]
	path = TsBuild/runtime/vs_solutions/dev-kit
	url = https://github.com/xieguigang/dev-kit.git
[submodule "TsBuild/runtime/VB-lang"]
	path = TsBuild/runtime/VB-lang
	url = https://github.com/xieguigang/sciBASIC-lang-core.git
