################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.suo
*.sqlite

obj
bin
App


node_modules
*.lock
*.ide
